<div id="<%= dom_id flat %>">

<div class="container-fluid p-0">
  <div class="banner">
    <%= image_tag 'image1.png', alt: 'Description of the image', class: 'img-fluid w-100' %>
  </div>
</div>

<div class="flat-main" style="text-align: left; background-color: lightgrey;">
  <p class="font-size+1 font-style-bold">
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>
</div>


  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= flat.price_per_night %>
  </p>

  <p>
    <strong>Number of guests:</strong>
    <%= flat.number_of_guests %>
  </p>

</div>
